@model ResultWrapper
@{

    ViewBag.Title = "Students";
}

@if (Model.StudentList.Any())
{


    <table class="table">
        <thead>
            <tr>

                <th>Student Name</th>
                <th>Roll No</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            @foreach (Student student in Model.StudentList)
            {
                <tr>
                    <td>@student.StudentName</td>
                    <td>@student.StudentRollNo</td>

                    <td><a asp-controller="Mark" asp-action="AssignMarks" asp-route-id="@student.Id" asp-route-classid="@Model.ClassId" asp-route-examid="@Model.ExamId">Add Results</a></td>
                </tr>
            }
        </tbody>
    </table>

}
else
{

    <div class="card mb-5">
        <div class="card-body text-danger">No Students in class.</div>
    </div>
   
}
