@model List<StudentViewModel>
@{
    ViewBag.Title = "Students";
}


<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
    .actions {
        display:flex;
        column-gap:13px;
    }

    .delete {
        color: red;
    }

    .edit {
        color: yellowgreen;
    }
</style>



@if (Model.Any())
{


    <div class="card-body p-0">
        <a type="button" class="btn btn-info add-new mb-5" asp-action="Create"><i class="fa fa-plus"></i> Add New Student</a>
        <table class="table">
            <thead>
                <tr>
                    <th width="20%">Student Name</th>
                    <th width="15%">Roll Number</th>
                    <th width="15%">Class</th>
                    <th width="45%">Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (StudentViewModel student in Model)
                {
                    <tr>
                        <td>@student.StudentName</td>
                        <td>@student.StudentRollNo</td>
                        <td>@student.classname</td>

                        <td class="actions">

                            <a class="edit" asp-action="Edit" asp-route-id="@student.StudentId"><i class="material-icons">&#xE254;</i>Edit</a>
                            <a class="delete" asp-action="Delete" asp-route-id="@student.StudentId" onclick="return confirm('Are you sure you want to delete this item?')"><i class="material-icons">&#xE872;</i>Delete</a>

                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
}
else
{

    <div class="card mb-5">
        <div class="card-body text-danger">No Students yet.</div>
    </div>
    <a type="button" class="btn btn-info add-new" asp-action="Create"><i class="fa fa-plus"></i> Add New Student</a>

}

